<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.min.css">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/open-sauce-one" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div id="main">
        <div class="nav">
            <div class="navlpart p1name">
                <h2>&copy;</h2>
                <div class="name p1name">
                    <h1 class="design-by">designed by <span>Shreyas</span></h1>
                    <h1 class="full-name">Shreyas Deshmukh</h1>
                </div>
            </div>
            <div class="navrpart">
                <ul>
                    <li><a href="/">Work
                            <div class="dot"></div>
                        </a></li>
                    <li><a href="/journal">Journal<div class="dot"></div></a></li>
                    <li><a href="/about">About<div class="dot"></div></a></li>
                    <li><a href="/contact">Contact<div class="dot"></div></a></li>
                </ul>
            </div>
        </div>
        <div id="bg">
<h1>hello about page</h1>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"
        integrity="sha512-f8mwTB+Bs8a5c46DEm7HQLcJuHMBaH/UFlcgyetMqqkvTcYg4g5VXsYR71b3qC82lZytjNYvBj2pf0VekA9/FQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js"
        integrity="sha512-A64Nik4Ql7/W/PJk2RNOmVyC/Chobn5TY08CiKEX50Sdw+33WTOpPJ/63bfWPl0hxiRv1trPs5prKO8CpA7VNQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/javascripts/script.js"></script>
</body>

</html>