<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog_delta</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/open-sauce-one" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/blog.css">
</head>

<body>
    <div id="main">
        <div id="bg">
            <div class="nav">
                <div class="navlpart p1name">
                    <h2>&copy;</h2>
                    <div class="name p1name">
                        <h1 class="design-by">designed by <span>Shreyas</span></h1>
                        <h1 class="full-name">Shreyas Deshmukh</h1>
                    </div>
                </div>
                <div class="navrpart">
                    <ul>
                        <li><a href="/">Work
                                <div class="dot"></div>
                            </a></li>
                        <li><a href="/journal">Journal<div class="dot"></div></a></li>
                        <li><a href="/about">About<div class="dot"></div></a></li>
                        <li><a href="/contact">Contact<div class="dot"></div></a></li>
                    </ul>
                </div>
            </div>
            <section class="blog">
                <div class="blog-title">
                    <div class="blog-title-content">
                        <a class="backtojournal" href="/journal"><i class="ri-arrow-left-line"></i></a>
                        <h3>Jan 05, 2023</h3>
                        <h1>Common <span class="orangecolor">accessibility</span> testing mistakes <br> that designers are
                            making</h1>
                        <p>The importance of designing and testing with accessibility in mind.</p>
                    </div>
                </div>
                <div id="blog-photo-container">
                    <div class="blog-photo-img">
                    </div>
                </div>
            </section>
            <section id="journel-content">
                <div class="testing-container">
                    <div class="testing-container-top">
                        <div class="tct-left jc-left">
                            <h2 class="blog-h2">What is accessibility testing?</h2>
                        </div>
                        <div class="tct-right jc-right">
                            <p class="blog-p">Accessibility testing is the practice of testing whether a website, application, or other product is accessible to people with disabilities.</p>
                            <p class="p-margin-top blog-p">This typically involves checking for compliance with accessibility standards, such as the Web Content Accessibility Guidelines (WCAG), and testing the product with people who have a range of disabilities to ensure that it is usable by as many people as possible.</p>
                        </div>
                    </div>
                    <div class="testing-container-bottom">
                        <div class="tcb-left jc-left">
                            <h2 class="blog-h2">Why is accessibility testing important?</h2>
                        </div>
                        <div class="tcb-right jc-right">
                            <p class="blog-p">Accessibility testing is an important part of the design and development process, as it helps ensure that products are inclusive and can be used by everyone, regardless of their abilities.
                                People with disabilities have unique needs and challenges, and testing with them can help identify any issues that might not be apparent to users without disabilities.</p>
                                <p class="p-margin-top blog-p">By involving users with disabilities in the testing process, designers can gain valuable insights and feedback that can help improve the design and make it more inclusive.</p>
                                <p class="p-margin-top blog-p">Additionally, testing with people with disabilities can help ensure that the design complies with accessibility guidelines and standards, which can make the product more widely available and usable for people with disabilities.</p>
                        </div>
                    </div>
                </div>
                <div class="mistake-container">
                    <div class="mc-left">
                        <h2 class="headline-3">Comman mistakes</h2>
                    </div>
                    <div class="mc-right">
                        <p class="blog-p">Here are some common mistakes that UX designers make when conducting accessibility testing.</p>

                        <div class="reasons-box">
                            <div class="reason-box-heading">
                                <h1>01</h1>
                            </div>
                            <div class="reason-para">
                                <h2 class="blog-h2">Not involving users with disabilities in the testing process.</h2>
                                <p class="p-margin-top blog-p">It's important to involve users with disabilities in the testing process to ensure that the design is accessible and easy to use for everyone.</p>
                                <p class="p-margin-top blog-p">Without the input of users with disabilities, it's difficult to know if the design is meeting their needs and addressing their challenges.</p>
                            </div>

                        </div>
                        <div class="reasons-box">
                            <div class="reason-box-heading">
                                <h1>02</h1>
                            </div>
                            <div class="reason-para">
                                <h2 class="blog-h2">Not considering the full range of disabilities.</h2>
                                <p class="p-margin-top blog-p">Many designers fail to consider the needs of users with a wide range of disabilities, including visual, auditory, motor, and cognitive impairments.</p>
                                <p class="p-margin-top blog-p">By not considering the full range of disabilities, designers risk creating a design that is not usable for all users.</p>
                            </div>

                        </div>
                        <div class="reasons-box">
                            <div class="reason-box-heading">
                                <h1>03</h1>
                            </div>
                            <div class="reason-para">
                                <h2 class="blog-h2">Focusing solely on compliance with accessibility quidelines.</h2>
                                <p class="p-margin-top blog-p">While it's important to make sure that the design complies with accessibility guidelines, it's also important to consider the user experience and ensure that the design is intuitive and easy to use for all users.</p>
                                <p class="p-margin-top blog-p">Compliance with accessibility guidelines is necessary, but it's not sufficient on its own to create a truly accessible design.</p>
                                <p class="p-margin-top blog-p">This involves including users with disabilities in the testing process and conducting thorough testing to identify and fix any issues.</p>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="testing-container">
                    <div class="testing-container-top">
                        <div class="tct-left jc-left">
                            <h2 class="blog-h2">What is accessibility testing?</h2>
                        </div>
                        <div class="tct-right jc-right">
                            <p class="blog-p">Accessibility testing is the practice of testing whether a website, application, or other product is accessible to people with disabilities.</p>
                            <p class="p-margin-top blog-p">This typically involves checking for compliance with accessibility standards, such as the Web Content Accessibility Guidelines (WCAG), and testing the product with people who have a range of disabilities to ensure that it is usable by as many people as possible.</p>
                        </div>
                    </div>
                </div>
                <div class="testing-container">
                </div>
                <div class="vp-container"></div>
                <div class="thoughts-container">
            
                </div>
            
            
            
            </section>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"
        integrity="sha512-f8mwTB+Bs8a5c46DEm7HQLcJuHMBaH/UFlcgyetMqqkvTcYg4g5VXsYR71b3qC82lZytjNYvBj2pf0VekA9/FQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js"
        integrity="sha512-A64Nik4Ql7/W/PJk2RNOmVyC/Chobn5TY08CiKEX50Sdw+33WTOpPJ/63bfWPl0hxiRv1trPs5prKO8CpA7VNQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/javascripts/script.js"></script>
</body>

</html>