<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.min.css">
  
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/open-sauce-one" type="text/css" />
  
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div id="main">
    <div class="nav">
      <div class="navlpart p1name">
        <h4>&copy;</h4>
        <div class="name p1name">
          <h1 class="design-by">designed by <span>Shreyas</span></h1>
          <h1 class="full-name">Shreyas Deshmukh</h1>
        </div>
      </div>
      <div class="navcpart">
        <ul>
          <li><a href="">Work
              <div class="dot"></div>
            </a></li>
          <li><a href="/journal">Journal<div class="dot"></div></a></li>
          <li><a href="/about">About<div class="dot"></div></a></li>
          <li><a href="/contact">Contact<div class="dot"></div></a></li>
        </ul>
      </div>
      <div class="navrpart">
        <h5>Open for new opportunities
       <br>
        January 2023</h5>
        <lottie-player  src="https://assets3.lottiefiles.com/packages/lf20_7mn6pdhz.json" background="transparent" speed="1"
          style="width: 50px; height: 50px; border-radius: 50%; background-color: red;" loop autoplay></lottie-player>
      </div>
    </div>
    <div id="bg">

      <div id="page1">
        <div class="text-area">
          <h1><span>Helping brands build powerful products</span> by bridging the
            gap between user needs and business metrics through
            human-centric & data-driven designs solutions.
          </h1>
          <!-- <div class="cursor"> -->
          <div class="imgcur">
            <img src="images/Cursor Effect - Scroll.svg" alt="">
          </div>
          <div class="circle"></div>
          <!-- </div> -->
        </div>
        <div id="bottom">
          <div class="heading">
            <img src="/images/Star.svg" alt="">
            <h1>Designing for creatures of emotion,
              designing for humans!
            </h1>
        
          </div>
        </div>
        </div>
  <div id="page2">
   
    <div class="cards">
  
    <div class="work-slider">
      <div class="case study1">
        <div class="case-img"></div>
        <div class="case-title">
          <h3>Bind Arr</h3>
          <p>Designing India’s first markerless AR based social networking app.</p>
        </div>
      </div>
      <div class="case study1">
        <div class="case-img"></div>
        <div class="case-title">
          <h3>Bind Arr</h3>
          <p>Designing India’s first markerless AR based social networking app.</p>
        </div>
      </div>
      <div class="case study1">
        <div class="case-img"></div>
        <div class="case-title">
          <h3>Bind Arr</h3>
          <p>Designing India’s first markerless AR based social networking app.</p>
        </div>
      </div>
      <div class="case study1">
        <div class="case-img"></div>
        <div class="case-title">
          <h3>Bind Arr</h3>
          <p>Designing India’s first markerless AR based social networking app.</p>
        </div>
      </div>
      <div class="case study1">
        <div class="case-img"></div>
        <div class="case-title">
          <h3>Bind Arr</h3>
          <p>Designing India’s first markerless AR based social networking app.</p>
        </div>
      </div>
      <div class="case study1">
        <div class="case-img"></div>
        <div class="case-title">
          <h3>Bind Arr</h3>
          <p>Designing India’s first markerless AR based social networking app.</p>
        </div>
      </div>
      <div class="case study1">
        <div class="case-img"></div>
        <div class="case-title">
          <h3>Bind Arr</h3>
          <p>Designing India’s first markerless AR based social networking app.</p>
        </div>
      </div>
      <div class="case study1">
        <div class="case-img"></div>
        <div class="case-title">
          <h3>Bind Arr</h3>
          <p>Designing India’s first markerless AR based social networking app.</p>
        </div>
      </div>
      
    </div>
    </div>
  </div>
       
    
    </div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"
    integrity="sha512-f8mwTB+Bs8a5c46DEm7HQLcJuHMBaH/UFlcgyetMqqkvTcYg4g5VXsYR71b3qC82lZytjNYvBj2pf0VekA9/FQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js"
    integrity="sha512-A64Nik4Ql7/W/PJk2RNOmVyC/Chobn5TY08CiKEX50Sdw+33WTOpPJ/63bfWPl0hxiRv1trPs5prKO8CpA7VNQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://assets3.lottiefiles.com/packages/lf20_7mn6pdhz.json"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.10.1/lottie.min.js"
      integrity="sha512-H6aKTjvYAazW0iNuGj1f2dZvSWlt1HGZGEDsXRPETo2IB4H6v36Vl2qiZNlCRxOp0kT7iBf+7USNPavNscZGAw=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    function loco() {
        gsap.registerPlugin(ScrollTrigger);


        const locoScroll = new LocomotiveScroll({
          el: document.querySelector("#bg"),
          smooth: true
        });
        locoScroll.on("scroll", ScrollTrigger.update);

        ScrollTrigger.scrollerProxy("#bg", {
          scrollTop(value) {
            return arguments.length ? locoScroll.scrollTo(value, 0, 0) : locoScroll.scroll.instance.scroll.y;
          },
          getBoundingClientRect() {
            return { top: 0, left: 0, width: window.innerWidth, height: window.innerHeight };
          },

          pinType: document.querySelector("#bg").style.transform ? "transform" : "fixed"
        });

        ScrollTrigger.addEventListener("refresh", () => locoScroll.update());

        ScrollTrigger.refresh();

      }
      loco();

  


      //work-slide-hover
      

      gsap.to("#page2", {
        scrollTrigger: {
          trigger: "#page1",
          start: "top 15%",
          // end: "top -75vh",
          scrub: 2,
          pin: true,
          scroller: "#bg",
          markers: true
        },
        top:"42%"
      })
    
      var cursor = document.querySelector(".imgcur");
        var circle = document.querySelector(".circle");
      document.addEventListener("mousemove", function(dets){
        circle.style.cssText = cursor.style.cssText = "left:" + dets.clientX + "px; top:" + dets.clientY + "px;";
      })

  </script>
</body>

</html>