<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/open-sauce-one" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div id="main">
    <div id="bg">
        <div class="nav">
            <div class="navlpart p1name">
                <h2>&copy;</h2>
                <div class="name p1name">
                    <h1 class="design-by">designed by <span>Shreyas</span></h1>
                    <h1 class="full-name">Shreyas Deshmukh</h1>
                </div>
            </div>
            <div class="navrpart">
                <ul>
                    <li><a href="/">Work
                            <div class="dot"></div>
                        </a></li>
                    <li><a href="/journal">Journal<div class="dot"></div></a></li>
                    <li><a href="">About<div class="dot"></div></a></li>
                    <li><a href="">Contact<div class="dot"></div></a></li>
                </ul>
            </div>
        </div>
        <div id="journal">
            <div id="journal-top">
                <div id="jttext" class="jt-text">
                    <p>A <span class="orangecolor">Collection</span> of my thoughts,ideas,<br>experiments,and
                        experiences.</p>
                </div>
            </div>
            <div id="journal-bottom">
                <div id="journal-slider" class="journal-slider">
                    <div class="case study1">
                        <div class="case-img">
                            <img class="pank" onmouseenter="okin()" onmouseout="okout()"
                                src="https://images.unsplash.com/photo-1654951105230-744294fb42bb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                                alt="">
                        </div>
                        <div class="case-title">
                            <h3>coders herea a</h3>
                        </div>
                    </div>
                    <div class="case study1">
                       <a href="/blog">
                        <div class="case-img">
                            <img class="pank" onmouseenter="okin()" onmouseout="okout()"
                                src="https://images.unsplash.com/photo-1671310063600-4e52914995a7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"
                                alt="">
                        </div>
                       </a>
                        <div class="case-title">
                            <h3>Similarities between Law & Product Design</h3>
                        </div>
                    </div>
                    <div class="case study1">
                        <div class="case-img">
                            <img onmouseover="okkk()"
                                src="https://images.unsplash.com/photo-1526364163643-89e30b8fcb70?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                                alt="">
                        </div>
                        <div class="case-title">
                            <h3>How to convince stakeholders for a typeface change</h3>
        
                        </div>
                    </div>
                    <div class="case study1">
                        <div class="case-img">
                            <img onmouseover="okkk()"
                                src="https://images.unsplash.com/photo-1671653892082-6699cc445245?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                                alt="">
                        </div>
                        <div class="case-title">
                            <h3>
                                Let's guess the WHYs of some everyday apps?</h3>
        
                        </div>
                    </div>
                    <div class="case study1">
                        <div class="case-img">
                            <img onmouseover="okkk()"
                                src="https://images.unsplash.com/photo-1671653191433-54612279a787?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80"
                                alt="">
                        </div>
                        <div class="case-title"></div>
                    </div>
                </div>
        
            </div>
        </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"
        integrity="sha512-f8mwTB+Bs8a5c46DEm7HQLcJuHMBaH/UFlcgyetMqqkvTcYg4g5VXsYR71b3qC82lZytjNYvBj2pf0VekA9/FQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js"
        integrity="sha512-A64Nik4Ql7/W/PJk2RNOmVyC/Chobn5TY08CiKEX50Sdw+33WTOpPJ/63bfWPl0hxiRv1trPs5prKO8CpA7VNQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/javascripts/script.js"></script>
</body>

</html>